
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/__Admin_login.cshtml";
}

<!-- loader-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />


<script src="~/JS_CODE/Admin/college.js"></script>
<script src="~/JS_CODE/Admin/verifystatus.js"></script>
<br />

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Dashboard</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#" class="fa fa-home">&nbsp;Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content card-footer">
    <div class="container-fluid">
        <div class="card card-steelblue">
            <div class="card card-#096192">
                <div class="card-header">
                    <h3 class="card-title"></h3>
                </div>
                <div class="myDiv" style="border: 5px solid #6888BE">
                    <div class="col-sm-12" style="background-color: #6888BE; height: 40px;color:whitesmoke"><h4>ViewFeildForm</h4></div>
                    <table id="tblform" class="table table-striped table-bordered;"></table>

                </div>

                <br />

                <br />
                <div class="myDiv" style="border: 5px solid #6888BE">
                    <div class="col-sm-12" style="background-color: #6888BE; height: 40px;color:whitesmoke"><h4>VerifyStudent</h4></div>
                    <table id="tblverify" class="table table-striped table-bordered"></table>
                </div>

            </div>

        </div>
    </div>
</section>


