
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FeesReceipt</title>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="col-sm-12" style="border: 2px solid lightgrey;">
                        <img src="~/img/svnalogo.jpg" style="width:100%;height:150px;" />
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="col-sm-4">
                                    <label>User Name:</label>
                                </div>
                                <div class="col-sm-2">
                                    satendra
                                </div>
                            </div>

                            <!--<div class="col-sm-6">
                            <div class="col-sm-4">
                                <label> Student Copy</label>
                            </div>-->
                            @*<div class="col-sm-3"  style="margin-left:8%;">
                                    75755884
                                </div>*@
                            <!--</div>-->
                        </div>
                        <div class="col-sm-12" style="background-color:lightgray;height:20px;">
                            <CENTER>  <p><b>*  FEES RECEIPT  *</b></p></CENTER>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="col-sm-4">
                                    <label>Receipt No:</label>
                                </div>
                                <div class="col-sm-2">
                                    6758
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="col-sm-4">
                                    <label> Admission No:</label>
                                </div>
                                <div class="col-sm-2">
                                    75755884
                                </div>
                            </div>
                        </div>
                        <hr style="height:2px;width:100%;background-color:grey;" />

                        @*<div class="col-sm-12">
                            <hr style="height:2px;width:100%;background-color:grey;margin-top:1%;" />
                                                    </div>*@
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="col-sm-4">
                                    <label style="margin-bottom:3%;">Mobile No:</label>
                                </div>
                                <div class="col-sm-2">
                                    8899767677
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="col-sm-4">
                                    <label>DATE:</label>
                                </div>
                                <div class="col-sm-2">
                                    75755884
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-8">
                                <div class="col-sm-4">
                                    <label>Student Name:</label>
                                </div>
                                <div class="col-sm-3">
                                    <label>Rohit</label>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-8">
                                <div class="col-sm-4">
                                    <label>Father's Name:</label>
                                </div>
                                <div class="col-sm-3">
                                    <label>Susheel</label>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-12">

                            <div class="col-sm-2">
                                <label style="margin-left:12%;">Class:</label>
                            </div>
                            <div class="col-sm-4">
                                <label style="margin-left:20%;">MA POILY 4TH SEM</label>
                            </div>


                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-8">
                                <div class="col-sm-4">
                                    <label>Subject:</label>
                                </div>

                            </div>

                        </div>
                        <div class="col-sm-12">
                            @*<div class="col-sm-1"></div>
                                <div class="col-sm-10">*@
                            <table class="table table-bordered">
                                <tr>
                                    <td>Major Subject<br />182</td>
                                    <td>Major Subject<br />3</td>
                                    <td>Minor Subject</td>
                                    <td>Vocational Subject</td>
                                    <td>Co-Curricular</td>

                                </tr>
                            </table>

                        </div>




                        <div class="col-sm-12">

                            <table class="table table-bordered">
                                <tr>
                                    <td>Geo</td>
                                    <td>Hsc</td>
                                    <td>Def</td>
                                    <td>Edu</td>
                                    <td>Psv</td>
                                    <td>Art</td>
                                    <td>Music</td>
                                    <td>Physical<br />Edu</td>
                                    <td>B.sc</td>
                                    <td>B.sc AG</td>
                                    <td>P.G</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                            </table>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6">
                                <div class="col-sm-4">
                                    <label>Old Balance:</label>
                                </div>
                                <div class="col-sm-2">
                                    7676
                                </div>
                            </div>
                        </div>
                        <hr style="height:2px;width:100%;background-color:grey;" />
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="col-sm-4">
                                    <label>Total Amount:</label>
                                </div>
                                <div class="col-sm-2">
                                    7676
                                </div>
                            </div>
                            <div class="col-sm-6">

                            </div>
                        </div>
                        <hr style="height:2px;width:100%;background-color:grey;" />
                        <div class="col-sm-12">
                            <div class="col-sm-10">
                                <div class="col-sm-4">
                                    <label>Grand Total:</label>
                                </div>
                                <div class="col-sm-6">
                                    7676
                                </div>
                            </div>
                            @*<div class="col-sm-6">

                                </div>*@
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-10">
                                <div class="col-sm-4">
                                    <label>Received Amt.</label>
                                </div>
                                <div class="col-sm-6">
                                    7676
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-10">
                                <div class="col-sm-4">
                                    <label>Balance</label>
                                </div>
                                <div class="col-sm-6">
                                    7676
                                </div>
                            </div>

                        </div>
                        <hr style="height:2px;width:100%;background-color:grey;" />
                        <div class="col-sm-12">
                            <div class="col-sm-10">
                                <div class="col-sm-4">
                                    <label>Amount in Words:</label>
                                </div>
                                <div class="col-sm-6">
                                    seven thousand six
                                </div>
                            </div>

                        </div>
                        <hr style="height:2px;width:100%;background-color:grey;" />
                        <div class="col-sm-12">
                            <center>
                                <label>
                                    S.V.M. Science &Aacute; Technology P.G. College
                                    <br />Lalgang Ajhara Pratapgarh
                                </label>
                            </center>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="col-sm-4">
                                    <label>User Name:</label>
                                </div>
                                <div class="col-sm-2">
                                    satendra
                                </div>
                            </div>

                            <!--<div class="col-sm-6">
                            <div class="col-sm-4">
                                <label> Student Copy</label>
                            </div>-->
                            @*<div class="col-sm-3"  style="margin-left:8%;">
                                    75755884
                                </div>*@
                            <!--</div>-->
                        </div>
                        <div class="col-sm-12">

                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <div class="col-sm-2"><label>REC NO.</label></div>
                                <div class="col-sm-2">6675</div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-sm-2"><label>REG NO.</label></div>
                                <div class="col-sm-2">6655545475</div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-sm-2"><label>Date.</label></div>
                                <div class="col-sm-2">3/4/2023</div>
                            </div>

                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="col-sm-4"><label>Student.</label></div>
                                <div class="col-sm-2">rohit</div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-4"><label>GRANDTOTAL.</label></div>
                                <div class="col-sm-2">7778</div>
                            </div>


                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="col-sm-4"><label>Father.</label></div>
                                <div class="col-sm-2">suneel</div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-4"><label>ReceivedAmt.</label></div>
                                <div class="col-sm-2">7778</div>
                            </div>


                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="col-sm-4"><label>Class.</label></div>
                                <div class="col-sm-2">rohit</div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-4"><label>Balance.</label></div>
                                <div class="col-sm-2">7778</div>
                            </div>


                        </div>
                        <hr />

                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <label>Amount In Words.</label>
                            </div>
                            <div class="col-sm-6">
                                two thousand only
                            </div>

                        </div>

                        <div class="col-sm-12">
                            <div class="col-sm-6">

                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-6"><label>Accountant Signature:</label></div>

                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-6">

                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-6"><label>rohit</label></div>

                            </div>
                        </div>
                        <hr style="height:2px;width:100%;background-color:grey;" />
                    </div>

                </div>

            </div>

        </div>
    </div>
    @*<div class="col-sm-1"></div>
            </div>
        </div>*@
    </div>
</body>
</html>