@*@model SVMST_PG_COLLEGE_Mvc.Models.unverify*@
@{
    ViewBag.Title = "Unverifiedlist";
    Layout = "~/Views/Shared/__Admin_login.cshtml";
}


<br />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">

<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Unverifylist</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#" class="fa fa-home">&nbsp;Home</a></li>
                    <li class="breadcrumb-item active">Unverifylist</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<div class="mydivc">
    <h2 style="background-color: #6888BE; height: 50px; color: #6888BE ">Unverifylist </h2>
    <div class="col-sm-12">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <label for="file_sem"><b>Course Name/Class</b></label>
            <br />
            <select name="sem" id="ddlsem" class="form-control">
            </select>
        </div>
        <div class="col-sm-4">
            <label for="file_sem"><b>Session</b></label>
            <br />
            <select name="sem" id="session" class="form-control">
            </select>
            <br />
            <br />
            <input type="button" value="Show" id="ddlbtnn"
                   class="btn-info" style="margin-left:90%" />
            <br />
            <br />
            <br />

        </div>
        <div class="col-sm-2"></div>
    </div>

</div>

<div class="col-sm-12" id="divid">
    <div id="divid1">

        <div class="card">
            <div class="card-body bg-dribbble border-bottom">
                <div class="d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-2 mb-md-0 text-uppercase font-weight-medium">  </h6>
                </div>
            </div>
            <div class="card-body ">
                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="table-responsive">

                            <table id="tbldata" class="table table-striped table-bordered">

                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="~/JS_CODE/Admin/bindsem.js"></script>





